<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Simulação de Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simulação</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas id="candlestick" height="400"></canvas>
  <ion-card>
    <ion-card-content>
    <h1>Saldo: R${{ saldo }}</h1>
    <h1 *ngIf="estadoPosicao">Posição: {{ position }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-button onclick="comprar()" id="btn_comprar">Comprar</ion-button>
  <ion-button onclick="vender()" id="btn_vender" [disabled]="true">Vender</ion-button>




    <script type="module" src="./dist/index.js"></script>
</ion-content>
