<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        Introdução
      </ion-item>
      <ion-item routerLink="/mineracao" routerDirection="root">
        Mineração
      </ion-item>
      <ion-item routerLink="/tracker" routerDirection="root">
        Simulação
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
